alias ccat="highlight --out-format=ansi"
alias ytdl="youtube-dl"
alias r="ranger"
alias vim="nvim"
alias v="vim"
alias nv="nvim"
alias m="mutt"
alias h="htop"

alias xu="xi -Su"
alias xr="sudo xbps-remove -R"

alias e="sudo emerge -a"

alias y="youtube-dl"
alias ym="youtube-dl --format bestaudio --extract-audio --add-metadata"
